.env
logs/bot*.log
lineups/lineup2.png
lineups/lineup3.png
lineups/lineup4.png
lineups/lineup5.png
lineups/lineup6.png
lineups/lineup7.png
lineups/lineup8.png
lineups/lineup9.png
lineups/lineup10.png
lineups/lineup11.png
lineups/lineup12.png
lineups/lineup13.png
lineups/lineup14.png
lineups/lineup15.png
scores/score2.png
scores/score3.png
scores/score4.png
scores/score5.png
scores/score6.png
scores/score7.png
scores/score8.png
scores/score9.png
scores/score10.png
scores/score11.png
scores/score12.png
scores/score13.png
scores/score14.png
scores/score15.png
__pycache__/
